M4/M4 C# DDF/Service References/RegistroUsuario/RegistroUsuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegistrarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sobrenome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cpf" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bairro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cep" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="complemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataNascimento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lagradouro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroResidencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarUsuarioResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sobrenome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cpf" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bairro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cep" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="complemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataNascimento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lagradouro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroResidencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AtualizarUsuarioResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cpf" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecuperarUsuarioResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistrarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="RegistrarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="AtualizarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:AtualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="AtualizarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:AtualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarUsuario" />
  </wsdl:message>
  <wsdl:message name="RecuperarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="RegistroUsuarioSoap">
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input message="tns:RegistrarUsuarioSoapIn" />
      <wsdl:output message="tns:RegistrarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarUsuario">
      <wsdl:input message="tns:AtualizarUsuarioSoapIn" />
      <wsdl:output message="tns:AtualizarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarUsuario">
      <wsdl:input message="tns:RecuperarUsuarioSoapIn" />
      <wsdl:output message="tns:RecuperarUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistroUsuarioSoap" type="tns:RegistroUsuarioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarUsuario">
      <soap:operation soapAction="http://tempuri.org/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/AtualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarUsuario">
      <soap:operation soapAction="http://tempuri.org/RecuperarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegistroUsuarioSoap12" type="tns:RegistroUsuarioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarUsuario">
      <soap12:operation soapAction="http://tempuri.org/AtualizarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarUsuario">
      <soap12:operation soapAction="http://tempuri.org/RecuperarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistroUsuario">
    <wsdl:port name="RegistroUsuarioSoap" binding="tns:RegistroUsuarioSoap">
      <soap:address location="http://192.168.1.9/PlenaServer/RegistroUsuario.asmx" />
    </wsdl:port>
    <wsdl:port name="RegistroUsuarioSoap12" binding="tns:RegistroUsuarioSoap12">
      <soap12:address location="http://192.168.1.9/PlenaServer/RegistroUsuario.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>