M4/M4 C# DDF/M4Data/Service References/UpgradeVersion/UpgradeVersion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckUpgrade">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUpgradeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckUpgradeResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckUpgradeSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUpgrade" />
  </wsdl:message>
  <wsdl:message name="CheckUpgradeSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUpgradeResponse" />
  </wsdl:message>
  <wsdl:portType name="UpgradeVersionSoap">
    <wsdl:operation name="CheckUpgrade">
      <wsdl:input message="tns:CheckUpgradeSoapIn" />
      <wsdl:output message="tns:CheckUpgradeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpgradeVersionSoap" type="tns:UpgradeVersionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUpgrade">
      <soap:operation soapAction="http://tempuri.org/CheckUpgrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpgradeVersionSoap12" type="tns:UpgradeVersionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUpgrade">
      <soap12:operation soapAction="http://tempuri.org/CheckUpgrade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpgradeVersion">
    <wsdl:port name="UpgradeVersionSoap" binding="tns:UpgradeVersionSoap">
      <soap:address location="http://192.168.1.9/PlenaServer/UpgradeVersion.asmx" />
    </wsdl:port>
    <wsdl:port name="UpgradeVersionSoap12" binding="tns:UpgradeVersionSoap12">
      <soap12:address location="http://192.168.1.9/PlenaServer/UpgradeVersion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>