M4/M4 C# DDF/Service References/SumariosService/Sumarios1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegistrosSumario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identificacao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrosSumarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrosSumarioResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistrosSumarioSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrosSumario" />
  </wsdl:message>
  <wsdl:message name="RegistrosSumarioSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrosSumarioResponse" />
  </wsdl:message>
  <wsdl:portType name="SumariosSoap">
    <wsdl:operation name="RegistrosSumario">
      <wsdl:input message="tns:RegistrosSumarioSoapIn" />
      <wsdl:output message="tns:RegistrosSumarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SumariosSoap" type="tns:SumariosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrosSumario">
      <soap:operation soapAction="http://tempuri.org/RegistrosSumario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SumariosSoap12" type="tns:SumariosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrosSumario">
      <soap12:operation soapAction="http://tempuri.org/RegistrosSumario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sumarios">
    <wsdl:port name="SumariosSoap" binding="tns:SumariosSoap">
      <soap:address location="http://192.168.1.9/PlenaServer/Sumarios.asmx" />
    </wsdl:port>
    <wsdl:port name="SumariosSoap12" binding="tns:SumariosSoap12">
      <soap12:address location="http://192.168.1.9/PlenaServer/Sumarios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>